<!-- ================================================

About

==================================================-->

<div class="row about-container">
    <div class="col-sm-12 col-md-6 about"></div>
    <div id="about"></div> <!-- About anchor (from main nav) -->
    <div class="col-sm-12 col-md-6 about-text">
      <h3 class="lang en">DevRelCon Tokyo 2019 is the only Developer Relations conference in Japan.</h3>
      <h3 class="lang ja">DevRelCon Tokyo 2019は日本唯一のDeveloper Relationsに関するカンファレンスです。</h3>
      <p class="lang en">Over 200 professionals working in developer relations, DX, tech writing, API design, technical support, community and develper marketing.</p>
      <p class="lang ja">200名を越えるDevRel、DX（開発者体験）、テクニカルライター、APIデザイナー、テクニカルサポート、開発者コミュニティ、開発者マーケティングに関わる方達が参加します。</p>
      <p class="lang en">To participate in <strong>DevRelCon</strong>, you agree to abide by our <a href="/code-of-conduct/">code of conduct</a>.</p>
      <p class="lang ja"><strong>DevRelCon</strong>の参加者は<a href="/code-of-conduct/">行動規範</a>に沿わなければなりません。</p>
        <a href="https://ti.to/devrelcon-tokyo/2019" target="_blank">
          <div class="devrel-button buy lang en">
              Buy ticket <i class="fa fa-long-arrow-right"></i>
          </div>
          <div class="devrel-button buy lang ja">
              チケットを買う <i class="fa fa-long-arrow-right"></i>
          </div>
        </a>
    </div>
</div>
