<!-- ================================================

About

==================================================-->

<div class="row about-container">
    <div class="col-sm-12 col-md-6 about"></div>
    <div id="about"></div> <!-- About anchor (from main nav) -->
    <div class="col-sm-12 col-md-6 about-text">
        <h3>DevRelCon Tokyo 2019 is the only Developer Relations conference in Japan.</h3>
        <p>Over 200 professionals working in developer relations, DX, tech writing, API design, technical support, community and develper marketing.</p>
        <p>To participate in <strong>DevRelCon</strong>, you agree to abide by our <a href="/code-of-conduct/index.html">code of conduct</a>.</p>
        <a href="https://www.papercall.io/devrelcon-tokyo-2019" target="_blank">
            <div class="devrel-button buy">
                Submit a talk <i class="fa fa-long-arrow-right"></i>
            </div>
        </a>
    </div>
</div>
