<!-- ================================================

Footer

==================================================-->

<div class="row blue-container">
    <div class="col-sm-12 col-md-6 footer-info">
        <h1 class="title yellow">DevRelCon Tokyo</h1>
        <p class="lang en">DevRelCon and DevXcon are a global series of events, created by <a href="https://hoopy.io" target="_blank">Hoopy</a>, to provide a forum for developer relations and developer experience professionals share with other practitioners. Beginning in London in 2015, there are now also editions in San Francisco, Tokyo and China. <a href="https://devrelcon.net" target="_blank">Read more about DevRelCon</a>.</p>
        <p class="lang ja">
          DevRelConとDevXconは、DevRel関係者同士がつながり、その経験を共有するために<a href="https://hoopy.io" target="_blank">Hoopy</a>によってはじめられたカンファレンスです。 2015年のロンドン開催を皮切りに、現在はサンフランシスコ、東京、中国でも開催されています。<a href="https://devrelcon.net" target="_blank">DevRelConの詳細を読む</a>。
        </p>
        <p><a href="/code-of-conduct/" class="lang en">Code of Conduct</a></p>
        <p><a href="/code-of-conduct/" class="lang ja">行動規範</a></p>
        <p class="lang en">Audience photo by <a href="https://www.flickr.com/photos/98247896@N08/">Kansuke Nakai</a>.</p>
        <p class="lang ja">写真撮影：<a href="https://www.flickr.com/photos/98247896@N08/">中井勘介</a></p>
        <p class="lang en">Website Design by <a href="http://www.davidhughesdesign.co.uk/">David Hughes</a>.</p>
        <p class="lang ja">Webサイトデザイン：<a href="http://www.davidhughesdesign.co.uk/">David Hughes</a></p>
        <div class="social-links">
          <a href="https://twitter.com/devrelcontokyo" target="_blank">
            <img src="/img/social/twitter.svg" width="44" height="32">
          </a> 
          <a href="https://www.facebook.com/DevrelConTokyo/" target="_blank">
            <img src="/img/social/facebook.svg" width="44" height="32">
          </a> 
          <a href="https://slack-inviter.herokuapp.com" target="_blank">
            <img src="/img/social/slack.svg" width="44" height="44">
          </a> 
        </div>
    </div>
    <div class="col-sm-12 col-md-6 newsletter">
      <div id="mc_embed_signup">
        <form action="//devrel.us15.list-manage.com/subscribe/post?u=f62ede3f170144d0bf000cb4e&id=aa6ace9b56" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
          <div id="mc_embed_signup_scroll">
            <div id="newsletter"></div>
            <h1 class="title yellow lang en">Signup for updates</h1>
            <h1 class="title yellow lang ja">アップデートを受け取る</h1>
            <div class="mc-field-group">
              <label for="mce-EMAIL" class="lang en">Email Address <span>(Required)</span></label>
              <label for="mce-EMAIL" class="lang ja">メールアドレス <span>(必須)</span></label>
              <input class="required email" id="mce-EMAIL" name="EMAIL" placeholder="Your Email Address" type="email" value="">
            </div>
            <div class="mc-field-group">
              <label for="mce-MMERGE3" class="lang en">Company</label>
              <label for="mce-MMERGE3" class="lang ja">会社名</label>
              <input class="text" id="mce-MMERGE3" name="MMERGE3" placeholder="Company Name" type="text" value="">
            </div>
            <div class="mc-field-group">
              <label for="mce-LNAME" class="lang en">Job Title</label>
              <label for="mce-LNAME" class="lang ja">役職</label>
              <input class="text" id="mce-LNAME" name="LNAME" placeholder="Your Job Title" type="text" value="">
            </div>
            <div class="mc-field-group">
              <label for="mce-FNAME" class="lang en">Name</label>
              <label for="mce-FNAME" class="lang ja">お名前</label>
              <input class="text" id="mce-FNAME" name="FNAME" placeholder="Your Name" type="text" value="">
            </div>
            <div class="clear" id="mce-responses">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;">
              <input name="b_b895eb25808853ec36506c2f9_d2dc7d3340" tabindex="-1" type="text" value="">
            </div>
            <div class="clear">
              <input class="lang en devrel-button red submit" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Subscribe »">
              <input class="lang ja devrel-button red submit" id="mc-embedded-subscribe" name="subscribe" type="submit" value="購読する »">
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
<div id="moongift">
  <a href="https://moongift.co.jp/" target="_blank"><img alt="MOONGIFT logo" src="/img/partners/moongift.white.png"></a>
  <p class="lang en">©2018 MOONGIFT Ltd. DevRelCon is a registered trademark of Hoopy Limited.</p>
  <p class="lang ja">©2018 MOONGIFT. DevRelConはHoopy社の登録商標です</p>
</div>
