<!-- ================================================

Header image / logo

==================================================-->

<div class="col-sm-12 intro-container">
    <img alt="DevRelCon Tokyo logo" class="intro-svg" src="/img/brand/DevRelCon-Tokyo2019.png">
    <img alt="DevRelCon Tokyo image" class="intro-bg" src="/img/main/intro-bg.jpg"> 

    <!-- ================================================

    3 x headings over main image

    ==================================================-->

    <div class="col-sm-12 feats">
        <div class="col-sm-4 feat-container">
            <div class="feat border1">
                <h1>Developer relations</h1>
            </div>
        </div>
        <div class="col-sm-4 feat-container">
            <div class="feat border2">
                <h1>Developer experience</h1>
            </div>
        </div>
        <div class="col-sm-4 feat-container">
            <div class="feat border3">
                <h1>Developer marketing</h1>
            </div>
        </div>
    </div>
</div>
