<head>
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>DevRelCon Tokyo: 2019 – conference for developer relations, developer marketing, developer experience, APIs</title>
  <meta content="A one day conference for technical evangelists, developer advocates and anyone interested in developer relations and developer experience" name="description">

  <!-- ================================================

  Stylesheets

  ==================================================-->
  <link href="css/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="css/style-devrelcon-tokyo2019.css" rel="stylesheet">

  <!-- ================================================

  Favicons

  ==================================================-->

  <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="favicon.ico">
  <link rel="manifest" href="favicons/manifest.json">
  <meta name="theme-color" content="#ffffff">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>