<!-- ================================================

Header image / logo

==================================================-->

<div class="col-sm-12 intro-container">
    <img alt="DevRelCon Tokyo logo" class="intro-svg" src="/img/brand/DevRelCon-Tokyo2019.png">
    <img alt="DevRelCon Tokyo image" class="intro-bg" src="/img/main/intro-bg.jpg"> 

    <!-- ================================================

    3 x headings over main image

    ==================================================-->

    <div class="col-sm-12 feats">
        <div class="col-sm-4 feat-container">
            <div class="feat border1">
              <h1>Developer relations</h1>
            </div>
        </div>
        <div class="col-sm-4 feat-container">
            <div class="feat border2">
              <h1 class="lang en">Developer experience</h1>
              <h1 class="lang ja">DX（開発者体験）</h1>
            </div>
        </div>
        <div class="col-sm-4 feat-container">
            <div class="feat border3">
              <h1 class="lang en">Developer marketing</h1>
              <h1 class="lang ja">開発者マーケティング</h1>
            </div>
        </div>
    </div>
</div>
