<!-- ================================================

Intro

==================================================-->

<div id="section1">
    <div class="row">
        <div class="col-lg-12 section-text">
            <div id="about"></div>
            <h2 class="lang en"><strong>DevRelCon Tokyo:</strong> a conference about developer relations, developer experience, developer community, APIs and developer marketing on March 9th, 2019, Tokyo.</h2>
            <h2 class="lang ja"><strong>DevRelCon Tokyo</strong>は2019年03月09日に開催されるDevRel、DX（開発者体験）、開発者コミュニティ、APIそして開発者マーケティングに関するカンファレンスです。</h2>
            <br />
            <a class="no-border" href="https://ti.to/devrelcon-tokyo/2019" target="_blank">
              <div class="lang en devrel-button buy red-button intro-btn">
                  Buy ticket <i class="fa fa-long-arrow-right"></i>
              </div>
              <div class="lang ja devrel-button buy red-button intro-btn">
                  チケットを購入する <i class="fa fa-long-arrow-right"></i>
              </div>
            </a>
            <p style="text-align: center;" class="lang ja">
              <h3 class="lang ja">初参加割！<s>9,000円</s>→5,000円！</h3>
              <strong class="lang ja">DevRelCon Tokyoにはじめて参加する方限定の割引です。</strong>
              <br  class="lang ja"/>
              <a class="no-border lang ja" href="https://ti.to/devrelcon-tokyo/2019/discount/BEGINNER" target="_blank">
                <div class="lang ja devrel-button buy red-button intro-btn">
                    初参加割でチケットを購入 <i class="fa fa-long-arrow-right"></i>
                </div>
              </a>
            </p>
            <br />
            <h3 class="lang en">We support billing payment(For Japanese company).</h3>
            <h3 class="lang ja">請求書払いに対応しています（日本の法人に限る）</h3>
            <p style="text-align:center" class="lang en">
            12,000 yen / person<br />
            35,000 yen / 3 people<br />
            55,000 yen / 5 people<br /><br />
            Please use this <a href="/devrelcon-document.docx">approval document</a> for your boss, and please <a href="mailto:devrelcon@moongift.jp">email us</a>
            </p>
            <p style="text-align:center" class="lang ja">
            12,000円/人<br />
            35,000円/3人<br />
            55,000円/5人<br /><br />
            こちらの<a href="/devrelcon-document.docx">稟議書</a>をお使いください。請求書払いは<a href="mailto:devrelcon@moongift.jp">お問い合わせ</a>ください。
            </p>
            <a class="no-border" href="/devrelcon-document.docx">
              <div class="devrel-button buy red-button intro-btn lang en">
                  Approval Document <i class="fa fa-long-arrow-right"></i>
              </div>
              <div class="devrel-button buy red-button intro-btn lang ja">
                  稟議書 <i class="fa fa-long-arrow-right"></i>
              </div>
            </a>
        </div>
    </div>
</div>
