<!-- ================================================

Intro

==================================================-->

<div id="section1">
    <div class="row">
        <div class="col-lg-12 section-text">
            <div id="about"></div>
            <h2><strong>DevRelCon Tokyo:</strong> a conference about developer relations, developer experience, developer community, APIs and developer marketing. March 9th, 2019, Tokyo.</h2>
            <br />
            <a class="no-border" href="https://ti.to/devrelcon-tokyo/2019" target="_blank">
                <div class="devrel-button buy red-button intro-btn">
                    Buy ticket <i class="fa fa-long-arrow-right"></i>
                </div>
            </a>
            <br />
            <h3>We support billing payment(For Japanese company).<br /><br />
                12,000 yen / person<br />
                35,000 yen / 3 people<br />
                55,000 yen / 5 people<br /><br />
                Please use this <a href="/devrelcon-document.docx">approval document</a> for your boss, and please <a href="#">email us</a>
            </h3>
            <a class="no-border" href="/devrelcon-document.docx">
                <div class="devrel-button buy red-button intro-btn">
                    Approval Document <i class="fa fa-long-arrow-right"></i>
                </div>
            </a>
        </div>
    </div>
</div>
