<nav class="navbar navbar-default navbar-fixed-top">
    
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" data-target="#DevRelCon-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="DevRelCon-collapse">
            <ul class="nav navbar-nav links">
                <li>
                  <a href="https://tokyo-2017.devrel.net/">2017</a>
                </li>
                <li>
                  <a href="https://tokyo-2018.devrel.net/">2018</a>
                </li>
                <li>
                  <a class="lang en" onclick="changeLang('ja')" href="javascript:void(0)">🇬🇧</a>
                  <a class="lang ja" onclick="changeLang('en')" href="javascript:void(0)">🇯🇵</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right scrollable-menu">
                <li>
                    <a href="/#home" class="scrollnav"><i class="fa fa-home"></i></a>
                </li>
                <li>
                  <a href="/#about" class="lang en scrollnav">About</a>
                  <a href="/#about" class="lang ja scrollnav">DevRelConについて</a>
                </li>
                <li>
                  <a href="/#speaker" class="lang en scrollnav">Speakers</a>
                  <a href="/#speaker" class="lang ja scrollnav">スピーカー</a>
                </li>
                <!--
                    <li>
                        <a href="#schedule" class="scrollnav">Schedule</a>
                    </li>
                -->
                <li>
                  <a href="/#sponsors" class="lang en scrollnav">Sponsors</a>
                  <a href="/#sponsors" class="lang ja scrollnav">スポンサー</a>
                </li>
                <li>
                  <a href="/#venue" class="lang en scrollnav">Venues</a>
                  <a href="/#venue" class="lang ja scrollnav">開催場所</a>
                </li>
                <li>
                  <a href="/#organisers" class="lang en scrollnav">Organisers</a>
                  <a href="/#organisers" class="lang ja scrollnav">主催者</a>
                </li>
                <li>
                  <a href="#newsletter" class="lang en scrollnav">Newsletter</a>
                  <a href="#newsletter" class="lang ja scrollnav">ニュースレター</a>
                </li>
                <!--
                <li class="tickets buy">
                    <a class="buy-tickets" href="#">Submit a paper <i class="fa fa-long-arrow-right"></i></a>
                </li>
                -->
                <li class="tickets buy red-button">
                  <a class="lang en buy-tickets" href="https://ti.to/devrelcon-tokyo/2019">Buy ticket <i class="fa fa-long-arrow-right"></i></a>
                  <a class="lang ja buy-tickets" href="https://ti.to/devrelcon-tokyo/2019">チケットを買う <i class="fa fa-long-arrow-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
