<!-- ================================================

Organisers

==================================================-->

<div id="speaker">
  <div id="organisers"></div>
  <div class="row">
    <div class="col-lg-12 section-text">
      <h1 class="lang en speaker-title">Organizers</h1>
      <h1 class="lang ja speaker-title">主催者</h1>
    </div>
  </div>
</div>
<div id="section6">
  <div class="row">
    <div class="col-lg-12 section-text">
      <h3 class="lang en">We are organisers of DevRelCon Tokyo 2019.<br>
      <h3 class="lang ja">私たちがDevRelCon Tokyo 2019の主催者です。<br>
    </div>
    <div class="row">
      <div class="container">
        {% for organizer in site.data.organizers %}
          {% if organizer.type == 'group' %}
            <a href="{{ organizer.url }}">
              <div class="col-sm-4 partner" style="text-align:center">
                <h3 class="partner-type">{{ organizer.title }}</h3>
                <img style="max-height: 70px;padding: 0px" alt="{{ organizer.name }}" src="{{ organizer.image }}">
              </div>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  <div class="row">
    <div class="container">
      {% for organizer in site.data.organizers %}
        {% if organizer.type == 'member' %}
          {% if organizer.image != '' %}
            <div class="col-sm-3">
              <h3 class="partner-type">
                <span class="lang en">{{ organizer.name }}</span>
                <span class="lang ja">{{ organizer.name_ja }}</span>
                {% if organizer.github %}
                  <a href="https://github.com/{{ organizer.github }}" target="_blank">
                    <i class="fa fa-github-square" style="color:white"></i>
                  </a>
                {% endif %}
                {% if organizer.twitter %}
                  <a href="https://twitter.com/{{ organizer.twitter }}" target="_blank">
                    <i class="fa fa-twitter-square" style="color:white"></i>
                  </a>
                {% endif %}
                {% if organizer.facebook %}
                  <a href="https://facebook.com/{{ organizer.facebook }}" target="_blank">
                    <i class="fa fa-facebook-square" style="color:white"></i>
                  </a>
                {% endif %}
              </h3>
              <img alt="{{ organizer.name }}" src="{{ organizer.image }}">
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
