<!-- ================================================

Schedule

================================================== -->

<p>
<div id="the_schedule">
    <div id="schedule"></div>
    <div class="row">
        <div class="col-lg-12">
          <h1 class="lang en speaker-title">Schedule</h1>
          <h1 class="lang ja speaker-title">スケジュール</h1>
        </div>
    </div>
</div>

<div class="table-responsive">
  <div class="row">
      <div class="col-lg-12 section-text schedule-padding">
        <table class="the_schedule">
          <tbody>
            <tr>
              <th class="sub_header choose-track lang ja" colspan="2">3月6日</th>
              <th class="sub_header choose-track lang en" colspan="2">March 6th</th>
            </tr>
            <tr>
                <td class="time">19.00</td>
                <td>
                  <p><a href="https://www.meetup.com/DevRel-Meetup-in-Tokyo/events/258525114/" target="_blank">DevRel Meetup in Tokyo #5</a></p>
                </td>
            </tr>
          </tbody>
        </table>
        <table class="the_schedule">
          <tbody>
            <tr>
              <th class="sub_header choose-track lang ja" colspan="2">3月7日</th>
              <th class="sub_header choose-track lang en" colspan="2">March 7th</th>
            </tr>
            <tr>
              <td class="time">18.00</td>
              <td>
                <p><a href="https://apithedocs.org/tokyo2019" target="_blank">API the Docs Tokyo 2019</a></p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <!--
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="unconf">
      <div class="row">
          <div class="col-lg-12 section-text schedule-padding">
                <table class="the_schedule">
                    <tbody>
                        <tr>
                            <td class="center moving" colspan="2">
                                <p>Times are subject to change</p>
                            </td>
                        </tr>
                        <tr>
                            <th class="sub_header" colspan="2">AM</th>
                        </tr>
                        <tr>
                            <td class="time">09.00</td>
                            <td>
                                <p>Registration</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="time">10.00</td>
                            <td>                            
                                <div class="speaker-img-container"><img alt="Photograph of Matthew Revell" src="img/training/matthew-revell-2017.jpg"></div>
                                <p>Welcome</p>
                                <p>
                                    <a href="https://twitter.com/matthewrevell"><b>Matthew Revell</b></a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="time">10.15</td>
                            <td>
                                <p>Session pitching</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="time">10.30</td>
                            <td>
                                <p>Morning session voting</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                

                <table class="the_schedule">
                    <tbody>
                        <tr>
                                <td class="center time" colspan="2">10.35</td>
                            </tr>
                        <tr>
                            <td>
                                <p>Sessions 1 - 3</p>
                            </td>
                            <td class="white-border-left">
                                <p>BoFs 1 - 3</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="center moving" colspan="3">
                                <p><i class="fa fa-cutlery"></i> 12.15 - Lunch</p>
                            </td>
                        </tr>
                        </tbody>
                </table>

                <table class="the_schedule">
                    <tbody>
                        <tr>
                            <th class="sub_header" colspan="2">PM</th>
                        </tr>
                        <tr>
                            <td class="time">13.00</td>
                            <td>                            
                                <div class="speaker-img-container"><img alt="Photograph of Matthew Revell" src="img/training/matthew-revell-2017.jpg"></div>
                                <p>Welcome Back</p>
                                <p>
                                    <a href="https://twitter.com/matthewrevell"><b>Matthew Revell</b></a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="time">13.05</td>
                            <td>
                                <p>Afternoon session voting</p>
                            </td>
                        </tr>
                        </tbody>
                </table>
                <table class="the_schedule">
                    <tbody>
                        <tr>
                            <td>
                                <p class="time">13.15</p>
                                <p>Session 4 / BoF 4</p>
                            </td>
                            <td class="white-border-left">
                                <p class="time">13.50</p>
                                <p>Session 5 / BoF 5</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="center moving" colspan="2">
                                <p><i class="fa fa-coffee"></i> 14.20 - Break</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="the_schedule">
                    <tbody>
                        <tr>
                            <td>
                                <p class="time">14.40</p>
                                <p>Session 6 / BoF 6</p>
                            </td>
                            <td class="white-border-left">
                                <p class="time">15.15</p>
                                <p>Session 7 / BoF 7</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="time">15.50</td>
                            <td>
                                <p>Closing remarks</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="the_schedule">
                        <tbody>
                            <tr>
                                <th class="sub_header" colspan="2">DevRel Awards</th>
                            </tr>
                            <tr>
                                <td>                            
                                    <img alt="Photograph of Matthew Revell" src="img/brand/DevRel-Awards-2018.png">
                                </td>
                                <td>                            
                                    <p>Evening of Wednesday 7th November at Microsoft Reactor</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        

        <div role="tabpanel" class="tab-pane active" id="conf">
            <div class="row">
                <div class="col-lg-12 section-text schedule-padding">

                    <table class="the_schedule">
                        <tbody>
                            <tr>
                                <td class="center moving" colspan="2">
                                    <p>Times are subject to change</p>
                                </td>
                            </tr>
                            <tr>
                                <th class="sub_header" colspan="2">AM</th>
                            </tr>
                            <tr>
                                <td class="time">08.00</td>
                                <td>
                                    <p>Registration</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="time">09.10</td>
                                <td>                            
                                    <div class="speaker-img-container"><img alt="Photograph of Matthew Revell" src="img/training/matthew-revell-2017.jpg"></div>
                                    <p>Welcome</p>
                                    <p>
                                        <a href="https://twitter.com/matthewrevell"><b>Matthew Revell</b></a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="time">09.20</td>
                                <td>                            
                                    <div class="speaker-img-container"><img alt="Photograph of Dr Sue Black" src="https://london-2018.devrel.net/img/speakers/dr-sue-black-b28c7772.jpg"></div>
                                    <p>If I can do it, so can you</p>
                                    <p>
                                        <a href="#"><b>Dr Sue Black</b></a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="time">09.45</td>
                                <td>                            
                                    <div class="speaker-img-container"><img alt="Photograph of Leslie Hawthorn" src="https://london-2018.devrel.net/img/speakers/leslie-hawthorn-27a9f03a.jpg"></div>
                                    <p>Empathy</p>
                                    <p>
                                        <a href="#"><b>Leslie Hawthorn</b></a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="table-responsive">
                        <table class="the_schedule">
                            <tbody>
                                <tr>
                                    <th class="sub_header choose-track">Room 1</th>
                                    <th class="sub_header choose-track">Room 2</th>
                                    <th class="sub_header choose-track">GitHub Lounge</th>
                                </tr>
                                <tr>
                                    <th class="sub_header tracks border-top-none">Dev rel</th>
                                    <th class="sub_header tracks border-top-none">Professionalisation</th>
                                    <th class="sub_header tracks border-top-none"></th>
                                </tr>
                                <tr>
                                    <td class="center time" colspan="3">10.20</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="speaker-img-container"><img alt="JJ Kass" src="https://london-2018.devrel.net/img/speakers/jj-kass-eb4aebc0.jpg"></div>
                                        <p><strong>JJ Kass</strong></p>
                                        <p>Sales and dev rel</p>
                                    </td>
                                    <td class="white-border-left">
                                        <div class="speaker-img-container"><img alt="Joe Nash" src="https://london-2018.devrel.net/img/speakers/joe-nash-f5d36801.jpg"></div>
                                        <p><strong>Joe Nash</strong></p>
                                        <p>Getting intentional</p>
                                    </td>
                                    <td class="white-border-left">
                                        <p>Workshops periodically in the GitHub lounge</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center time" colspan="3">10.45</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="speaker-img-container"><img alt="Amara Graham" src="https://london-2018.devrel.net/img/speakers/amara-graham-2f948e91.jpg"></div>
                                        <p><strong>Amara Graham</strong></p>
                                        <p>Internal army</p>
                                    </td>
                                    <td class="white-border-left">
                                        <div class="speaker-img-container"><img alt="Baruch Sadogursky" src="https://london-2018.devrel.net/img/speakers/baruch-sadogursky-bf7d056d.jpg"></div>
                                        <p><strong>Baruch Sadogursky</strong></p>
                                        <p>Measuring f2f</p>
                                    </td>
                                    <td class="white-border-left">
                                        <p>Workshops periodically in the GitHub lounge</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center moving" colspan="2">
                                        <p><i class="fa fa-coffee"></i> 11.05 - Break 1</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center time" colspan="3">11.35</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="speaker-img-container"><img alt="Alex Bulankou" src="https://london-2018.devrel.net/img/speakers/alex-bulankou-e616128b.jpg"></div>
                                        <p><strong>Alex Bulankou</strong></p>
                                        <p>One PR at a time</p>
                                    </td>
                                    <td class="white-border-left">
                                        <div class="speaker-img-container"><img alt="Mary Thengvall" src="https://london-2018.devrel.net/img/speakers/mary-thengvall-b5e1b2e7.jpg"></div>
                                        <div class="speaker-img-container"><img alt="K Rain Leander" src="https://london-2018.devrel.net/img/speakers/rain-leander-2e7db95d.jpg"></div>
                                        <p><strong>Mary Thengvall</strong> and <strong>K Rain Leander</strong></p>
                                        <p>Passing the ball</p>
                                    </td>
                                    <td class="white-border-left">
                                        <p>Workshops periodically in the GitHub lounge</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center time" colspan="3">12.00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="speaker-img-container"><img alt="Laura Czajkowski" src="https://london-2018.devrel.net/img/speakers/laura-czajkowski-29bfe181.jpg"></div>
                                        <p><strong>Laura Czajkowski</strong></p>
                                        <p>Events</p>
                                    </td>
                                    <td class="white-border-left">
                                        <div class="speaker-img-container"><img alt="Mário Araujo" src="https://london-2018.devrel.net/img/speakers/mario-araujo-0d9c7b93.jpg"></div>
                                        <p><strong>Mário Araujo</strong></p>
                                        <p>OKRs</p>
                                    </td>
                                    <td class="white-border-left">
                                        <p>Workshops periodically in the GitHub lounge</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center time" colspan="3">12.25</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="speaker-img-container"><img alt="Photograph of Matthew Revell" src="img/training/matthew-revell-2017.jpg"></div>
                                        <div class="speaker-img-container"><img alt="Photograph of Carla Teixeira" src="img/speakers/speaker-female.jpg"></div>
                                        <p><strong>Matthew Revell</strong> and <strong>Carla Teixeira</strong></p>
                                        <p>Four champions</p>
                                    </td>
                                    <td class="white-border-left">
                                        <div class="speaker-img-container"><img alt="Steve Pousty" src="https://london-2018.devrel.net/img/speakers/steve-pousty-d9ee37df.jpg"></div>
                                        <p><strong>Steve Pousty</strong></p>
                                        <p>ROI is a trap</p>
                                    </td>
                                    <td class="white-border-left">
                                        <p>Workshops periodically in the GitHub lounge</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center moving" colspan="3">
                                        <p><i class="fa fa-cutlery"></i> 12.45 - Lunch</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <table class="the_schedule">
                        <tbody>
                            <tr>
                                <th class="sub_header" colspan="3">PM</th>
                            </tr>
                            <tr>
                                <td class="time">13.45</td>
                                <td>                            
                                    <div class="speaker-img-container"><img alt="Photograph of Matthew Revell" src="img/training/matthew-revell-2017.jpg"></div>
                                    <p>Welcome back</p>
                                    <p>
                                        <a href="https://twitter.com/matthewrevell"><b>Matthew Revell</b></a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="time">13.55</td>
                                <td>                            
                                    <div class="speaker-img-container"><img alt="Photograph of Simon Phipps" src="https://london-2018.devrel.net/img/speakers/simon-phipps-6d8df0a8.jpg"></div>
                                    <p>Open source and dev rel</p>
                                    <p>
                                        <a href="#"><b>Simon Phipps</b></a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="time">14.20</td>
                                <td>                            
                                    <div class="speaker-img-container"><img alt="Photograph of Don Goodman-Wilson" src="https://london-2018.devrel.net/img/speakers/don-goodman-wilson-1b76bf6b.jpg"></div>
                                    <p>Kicking the hornet's nest</p>
                                    <p>
                                        <a href="#"><b>Don Goodman-Wilson</b></a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="table-responsive">
                        <table class="the_schedule">
                            <tbody>
                                <tr>
                                    <th class="sub_header choose-track">Room 1</th>
                                    <th class="sub_header choose-track">Room 2</th>
                                    <th class="sub_header choose-track">GitHub Lounge</th>
                                </tr>
                                <tr>
                                    <th class="sub_header tracks border-top-none">APIs</th>
                                    <th class="sub_header tracks border-top-none">Dev marketing</th>
                                    <th class="sub_header tracks border-top-none"></th>
                                </tr>
                                <tr>
                                    <td class="center time" colspan="3">14.50</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="speaker-img-container"><img alt="Erin McKean" src="https://london-2018.devrel.net/img/speakers/erin-mckean-b7afaf29.jpg"></div>
                                        <p><strong>Erin McKean</strong></p>
                                        <p>Great getting started docs</p>
                                    </td>
                                    <td class="white-border-left">
                                        <div class="speaker-img-container"><img alt="Martyn Davies" src="https://london-2018.devrel.net/img/speakers/martyn-davies-75549e48.jpg"></div>
                                        <p><strong>Martyn Davies</strong></p>
                                        <p>Data-driven content strategy</p>
                                    </td>
                                    <td class="white-border-left">
                                        <p>Workshops periodically in the GitHub lounge</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center time" colspan="3">15.15</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="speaker-img-container"><img alt="Nauman Ali" src="https://london-2018.devrel.net/img/speakers/nauman-ali-ccf784ae.jpg"></div>
                                        <p><strong>Nauman Ali</strong></p>
                                        <p>API-spec driven DX</p>
                                    </td>
                                    <td class="white-border-left">
                                        <div class="speaker-img-container"><img alt="Tamao Nakahara" src="https://d33wubrfki0l68.cloudfront.net/bde01c7168f16ed801663944c83ed30cbe0ac292/25869/img/speakers/tamao-nakahara-bde01c71.jpg"></div>
                                        <p><strong>Tamao Nakahara</strong></p>
                                        <p>TBA</p>
                                    </td>
                                    <td class="white-border-left">
                                        <p>Workshops periodically in the GitHub lounge</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center moving" colspan="3">
                                        <p><i class="fa fa-coffee"></i> 15.35 - Break 2</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center time" colspan="3">16.00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="speaker-img-container"><img alt="Nahid Samsami" src="https://london-2018.devrel.net/img/speakers/nahid-samsami-2602633b.jpg"></div>
                                        <div class="speaker-img-container"><img alt="Jeff Dickey" src="https://london-2018.devrel.net/img/speakers/jeff-dickey-cb357bc5.jpg"></div>
                                        <p><strong>Nahid Samsami</strong> and <strong>Jeff Dickey</strong></p>
                                        <p>CLI design</p>
                                    </td>
                                    <td class="white-border-left">
                                        <div class="speaker-img-container"><img alt="Adam DuVander" src="https://london-2018.devrel.net/img/speakers/adam-duvander-9e53f711.jpg"></div>
                                        <p><strong>Adam DuVander</strong></strong></p>
                                        <p>Developer content marketing</p>
                                    </td>
                                    <td class="white-border-left">
                                        <p>Workshops periodically in the GitHub lounge</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center time" colspan="3">16.25</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="speaker-img-container"><img alt="Matthew O'Riordan" src="https://london-2018.devrel.net/img/speakers/matthew-oriordan-0d7db93f.jpg"></div>
                                        <p><strong>Matthew O'Riordan</strong></p>
                                        <p>API design</p>
                                    </td>
                                    <td class="white-border-left">
                                        <div class="speaker-img-container"><img alt="Melinda Seckington" src="https://london-2018.devrel.net/img/speakers/melinda-seckington-91a96467.jpg"></div>
                                        <p><strong>Melinda Seckington</strong></p>
                                        <p>Art of talk design</p>
                                    </td>
                                    <td class="white-border-left">
                                        <p>Workshops periodically in the GitHub lounge</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <table class="the_schedule">
                        <tbody>
                            <tr>
                                <td class="time">16.55</td>
                                <td>                            
                                    <div class="speaker-img-container"><img alt="James Governor" src="https://london-2018.devrel.net/img/speakers/james-governor-89ea5d3d.jpg"></div>
                                    <p>TBA</p>
                                    <p>
                                        <a href="#"><b>James Governor</b></a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="time">17.15</td>
                                <td>                            
                                    <p>Close out</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="the_schedule">
                        <tbody>
                            <tr>
                                <th class="sub_header" colspan="2">After Party</th>
                            </tr>
                            <tr>
                                <td>                            
                                    <p>DevRelCon After Show Drinks</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    -->
</p>