<!-- ================================================

Speakers

==================================================-->

<div id="speaker">
    <div class="row">
        <div class="col-lg-12 section-text">
          <h1 class="lang en speaker-title">Speakers</h1>
          <h1 class="lang ja speaker-title">スピーカー</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 section-text amazing-speakers">
      <h1 class="lang en speaker-title">The amazing <strong>speakers</strong> at DevRelCon Tokyo 2019. We will announce soon!</h1>
      <h1 class="lang ja speaker-title">DevRelCon Tokyo 2019の素晴らしい<strong>スピーカーの方々</strong>です。続々とアナウンスします！</h1>
      <h3 class="lang en">All sessions have a translation system by Google translation API</h3>
      <h3 class="lang ja">すべてのセッションがGoogle translation APIで翻訳されます</h3>
    </div>
</div>
<div id="section6">
  <div class="row">
    <div class="container">
      {% for speaker in site.data.speakers %}
        {% if speaker.list %}
        <div class="col-sm-3 thumbnail2">
          <h3 class="partner-type rolldown" style="text-align:center">
            <span class="lang en">{{ speaker.name }}</span>
            <span class="lang ja">{{ speaker.name_ja }}</span>
            {% if speaker.github != '' %}
              <a href="https://github.com/{{ speaker.github }}" target="_blank">
                <i class="fa fa-github-square" style="color:white"></i>
              </a>
            {% endif %}
            {% if speaker.twitter != '' %}
              <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank">
                <i class="fa fa-twitter-square" style="color:white"></i>
              </a>
            {% endif %}
            {% if speaker.facebook != '' %}
              <a href="https://www.facebook.com/{{ speaker.facebook}}" target="_blank">
                <i class="fa fa-facebook-square" style="color:white"></i>
              </a>
            {% endif %}
            {% if speaker.google != '' %}
              <a href="https://plus.google.com/{{ speaker.google }}" target="_blank">
                <i class="fa fa-google-plus" style="color:white"></i>
              </a>
            {% endif %}
            {% if speaker.linkedin != '' %}
              <a href="https://www.linkedin.com/in/{{ speaker.linkedin }}" target="_blank">
                <i class="fa fa-linkedin-square" style="color:white"></i>
              </a>
            {% endif %}
            {% if speaker.youtube != '' %}
              <a href="https://www.youtube.com/user/{{ speaker.youtube }}" target="_blank">
                <i class="fa fa-youtube" style="color:white"></i>
              </a>
            {% endif %}
            {% if speaker.blog != '' %}
              <a href="{{ speaker.blog}}" target="_blank">
                <i class="fa fa-rss-square" style="color:white"></i>
              </a>
            {% endif %}
          </h3>
          <div class="caption">
            <h4 class="lang en">{{ speaker.name }}</h4>
            <h4 class="lang ja">{{ speaker.name_ja }}</h4>
            <p class="lang en">
              {% if speaker.title != '' %}
                {{ speaker.title }} at 
              {% endif %}
              {{ speaker.company }}
            </p>
            <p class="lang ja">
              {% if speaker.title_ja != '' %}
                {{ speaker.title_ja }},
              {% endif %}
              {{ speaker.company_ja }}</p>
            <a href="/speakers/{{ speaker.key }}" class="label label-default lang en" rel="tooltip" title="More">More</a>
            <a href="/speakers/{{ speaker.key }}" class="label label-default lang ja" rel="tooltip" title="詳しく">詳しく</a>
          </div>
          <img alt="{{ speaker.name }}" src="/img/speakers/{{ speaker.key }}.jpg" />
        </div>
        {% endif %}
      {% endfor %}
      
      <!-- more -->
      <!--
      <div class="col-sm-3 thumbnail2">
        <h3 class="partner-type rolldown" style="text-align:center">
          <span class="lang en">Awesome speaker!</span>
          <span class="lang ja">素晴らしいスピーカー！</span>
        </h3>
        <div class="caption">
          <h4 class="lang en">More speakers to be announced!</h4>
          <h4 class="lang ja">さらに追加アナウンスします！</h4>
        </div>
        <img alt="TBA" src="img/speakers/speaker-female.jpg">
      </div>
      <div class="col-sm-3 thumbnail2">
        <h3 class="partner-type rolldown" style="text-align:center">
          <span class="lang en">Awesome speaker!</span>
          <span class="lang ja">素晴らしいスピーカー！</span>
        </h3>
        <div class="caption">
          <h4 class="lang en">More speakers to be announced!</h4>
          <h4 class="lang ja">さらに追加アナウンスします！</h4>
        </div>
        <img alt="TBA" src="img/speakers/speaker-male.jpg">
      </div>
      -->
    </div>
  </div>
</div>
