<!-- ================================================

Sponsors

==================================================-->

<div id="speaker">
    <div id="sponsors"></div>
    <div class="row">
        <div class="col-lg-12 section-text">
            <h1 class="speaker-title">Sponsors</h1>
        </div>
    </div>
</div>
<div id="section7">
    <div class="row">
        <div class="col-lg-12 section-text">
          <h3 class="en lang">Do you want your brand to be a part of DevRelCon Tokyo 2019?<br>
            <a href="mailto:devrelcon@moongift.jp">Contact us for sponsorship opportunities</a>.
          </h3>
          <h3 class="lang ja">DevRelCon Tokyo 2019のスポンサーになりませんか？<br>
            <a href="mailto:devrelcon@moongift.jp">お問い合わせはこちらから</a>。
          </h3>
        </div>
    </div>

    <!-- 

    <div class="row">
        <div class="container">
            <a href="https://hoopy.io/">
                <div class="col-sm-12 partner">
                    <h3 class="partner-type">Organiser</h3><img alt="Hoopy" src="img/partners/hoopy.png">
                </div>
            </a>
            <a href="https://hoopy.io/">
                <div class="col-sm-6 partner">
                    <h3 class="partner-type">Organiser</h3><img alt="Hoopy" src="img/partners/hoopy.png">
                </div>
            </a>
            <a href="https://hoopy.io/">
                <div class="col-sm-6 partner">
                    <h3 class="partner-type">Organiser</h3><img alt="Hoopy" src="img/partners/hoopy.png">
                </div>
            </a>
            <a href="https://hoopy.io/">
                <div class="col-sm-6 partner">
                    <h3 class="partner-type">Organiser</h3><img alt="Hoopy" src="img/partners/hoopy.png">
                </div>
            </a>
            <a href="https://hoopy.io/">
                <div class="col-sm-6 partner">
                    <h3 class="partner-type">Organiser</h3><img alt="Hoopy" src="img/partners/hoopy.png">
                </div>
            </a>
            <a href="https://hoopy.io/">
                <div class="col-sm-4 partner">
                    <h3 class="partner-type">Organiser</h3><img alt="Hoopy" src="img/partners/hoopy.png">
                </div>
            </a>
            <a href="https://hoopy.io/">
                <div class="col-sm-4 partner">
                    <h3 class="partner-type">Organiser</h3><img alt="Hoopy" src="img/partners/hoopy.png">
                </div>
            </a>
            <a href="https://hoopy.io/">
                <div class="col-sm-4 partner">
                    <h3 class="partner-type">Organiser</h3><img alt="Hoopy" src="img/partners/hoopy.png">
                </div>
            </a>
        </div>
    </div>

    -->

</div>
