<!-- ================================================

Venues

==================================================-->

<div id="venue"></div>
<!--
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="venue-tab venue1"><a href="#reactor" aria-controls="reactor" role="tab" data-toggle="tab"><span class="venue-name">Day</span><span class="unconf">1</span></a></li>
    <li role="presentation" class="venue-tab venue1 active"><a href="#QEII" aria-controls="QEII" role="tab" data-toggle="tab"><span class="venue-name">Day</span><span class="conf">2</span></a></li>
</ul>
-->
  <!-- Tab panes -->
  <div id="section5">
      <div class="row">
          <div class="col-lg-12 section-text">
            <h1 class="lang en title">Nihombashi Tower, Tokyo</h1>
            <h1 class="lang ja title">東京 日本橋タワー</h1>
            <h3 class="lang en"><a href="https://goo.gl/maps/szdEzkUmv4x" target="_blank">Cybozu</a>, Nihonbashi tower 27F, 2-7-1 Nihonbashi, Chuo-ku, Tokyo</h3>
            <h3 class="lang ja"><a href="https://goo.gl/maps/szdEzkUmv4x" target="_blank">サイボウズ社</a>, 東京都中央区日本橋2-7-1 日本橋タワー 27F</h3>
          </div>
          <div class="col-sm-12 map">
            <div class="overlay" onclick="style.pointerEvents='none'"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.8047423679022!2d139.7719557153334!3d35.681809537547494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018895634a3d487%3A0xe67a55fa52247d0!2z5p2x5Lqs5pel5pys5qmL44K_44Ov44O8!5e0!3m2!1sen!2suk!4v1486382685193" width="600" height="450" frameborder="0" style="border:0;width:100%;height:auto;min-height:30em;border:none;" allowfullscreen=""></iframe>
          </div>
      </div>
  </div>

